<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.wwork.fiwe" android:versionCode="1">
	<application android:label="Fiwe" android:theme="@style/Theme.AppCompat.NoActionBar" android:icon="@mipmap/appicon" ></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>